.button {
    display: flex;
    width: 343px;
    height: 66px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 39px;
    background: var(--Acent);
    color: var(--Wite);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    border: none;
}


@media (max-width: 744px) {
    .button {
        padding: 8px 14px;
        font-size: 12px;
        gap: 8px;
        border-radius: 20.538px;
        width: 190px;
        height: 40px;
    }

    .button svg {
        width: 24px;
        height: 24px;
    }

}



@media (max-width: 375px) {
    .button {
        width: 343px;
        height: 66px;
        padding: 0px 30px;
        gap: 20px;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 39px;

    }

    .button svg {
        width: 50px;
        height: 50px;
    }

}