@font-face {
  font-family: 'Coworking';
  src: url('./fonts/Coworking.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
 
 :root {
  --light-gray-transparent: rgba(225, 223, 221, 0.90);
  --Acent: #FF1979;
  --Gray-1: #333333;
  --Wite: #FFF;

  --Gray-2: #4F4F4F;
  --Gray-4: #BDBDBD;
  --Bg-2: #3D304E;

/* 
    --font-family: "Montserrat", sans-serif;
    --second-family: "Coworking", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "Bahnschrift", sans-serif;
    --font4: "Commissioner", sans-serif; */


  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

}

body{
  margin: 0;
  background-color: var(--light-gray-transparent);
}


h1, h3 {
  font-size: inherit; /* Устанавливаем размер шрифта по умолчанию */
  font-weight: normal; /* Сбрасываем жирность текста */
  color: inherit; /* Устанавливаем цвет текста по умолчанию */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  line-height: normal; /* Сбрасываем высоту строки */
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



ul {
  list-style-type: none; 
  margin: 0;         
  padding: 0;           
}
/* 
*{
  outline: 4px solid green !important;
} */
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */ 
