@font-face {
  font-family: 'Coworking';
  src: url('./fonts/Coworking.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
 
 :root {
  --light-gray-transparent: rgba(225, 223, 221, 0.90);
  --Acent: #FF1979;
  --Gray-1: #333333;
  --Wite: #FFF;

  --Gray-2: #4F4F4F;
  --Gray-4: #BDBDBD;
  --Bg-2: #3D304E;

}

body{
  margin: 0;
  user-select: none;
  background-color: var(--light-gray-transparent);

}

h1, h3 {
  font-size: inherit; /* Устанавливаем размер шрифта по умолчанию */
  font-weight: normal; /* Сбрасываем жирность текста */
  color: inherit; /* Устанавливаем цвет текста по умолчанию */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  line-height: normal; /* Сбрасываем высоту строки */
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



ul {
  list-style-type: none; 
  margin: 0;         
  padding: 0;           
}
